.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.food-content{
  width: 200px;
  float: left;
  margin-left: 20px
}
.feedback-content{
  float: right;
  margin-right: 50px
}

